body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.paragraph {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 20px;
  text-align: justify;
}

#profile{
    width: 230px;
    height: 230px;
    border-radius:20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 5px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .paragraph {
    font-size: 14px;
  }
}

/* Estilos base para los artículos */
article {
  width: 100%;
  max-width: 600px; /* Tamaño máximo para los artículos */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

article h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}


/* Estilos para las imágenes pequeñas */
.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images-container img {
  width: 80px; /* Tamaño para las imágenes pequeñas */
  height: 80px;
  margin: 5px;
  border-radius: 4px;
}

/* Estilos responsivos */
@media (min-width: 769px) {
  .articles-container {
    display: flex; /* Mostrar los artículos en una fila horizontal */
    flex-wrap: wrap; /* Permitir que los artículos se envuelvan en filas adicionales */
    justify-content: space-between; /* Distribuir los artículos de manera uniforme */
  }

  article {
    flex: 0 0 calc(33.33% - 20px); /* Tamaño para los artículos (1/3 del contenedor con un espacio entre ellos) */
  }

  .images-container img {
    width: 50px; /* Ajustar el tamaño de las imágenes pequeñas en pantallas grandes */
    height: 50px;
  }
}

